body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
}

canvas {
    border: 2px solid #fff;
}

.paddle {
    width: 10px;
    height: 100px;
    background-color: #fff;
    position: absolute;
}

.paddle.left {
    left: 0;
}

.paddle.right {
    right: 0;
}

.ball {
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
}
